$Light: var(--theme-ui-colors-background,#fafafa);
$Gray: #dddddd;

/*-------------------*/
/* Screen Sizes */
/*-------------------*/
$MobileView: 500px;
$TabletView: 820px;
$LargeScreenView: 1024px;
$XLargeScreenView: 1440px;