
/*-------------------*/
/* Colours */
/*-------------------*/
$Light: #fafafa;
$Dark: #021E37;
$Gray: #dddddd;

/*-------------------*/
/* Font Family */
/*-------------------*/
$PoppinsFont: 'Poppins', sans-serif;

/*-------------------*/
/* Screen Sizes */
/*-------------------*/
$MobileView: 500px;
$TabletView: 900px;
$LargeScreenView: 1024px;
$XLargeScreenView: 1440px;
