@use '../../scss/partial/variable' as *;
@use '../../scss/partial/mixins' as *;

.cardContainer {
  width: 100%;
  height: 100%;
  margin: 70px auto;
  max-width: 1200px;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 10px;
  &__cardInfo {
    width: 50%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__cardJoin {
    width: 50%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 5px;
    h2 {
      color: $Dark;
      padding: 10px 20px;
    }
  }
}

.icon-container {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  .AQRU-icon {
    width: 100%;
    height: auto;
    padding: 0;
  }
}

.info {
  h2 {
    color: $Dark;
  }
  p {
    color: $Dark;
  }
}

.button-container {
  margin: 0 20px;
  text-align: justify;
  .btn {
    padding: 10px 0;
    margin: 0 20px;
    width: 50%;
    border-radius: 5px;
    border: 2px solid $Dark;
    cursor: pointer;
    &:hover {
      background-color: $Dark;
      transition: all 0.2s ease-in-out;
      color: $Light;
    }
  }
}

.add-btn {
  padding: 10px;
  margin: 0 20px;
  width: 42%;
  border-radius: 5px;
  border: 2px solid $Dark;
  cursor: pointer;
  &:hover {
    background-color: $Dark;
    transition: all 0.2s ease-in-out;
    color: $Light;
  }
}

.tradingContainer {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  &__card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card {
    width: 30%;
    height: 100%;
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 450ms;
    cursor: pointer;
    &:hover {
      background-color: $Dark;
      transition: all 0.2s ease-in-out;
      transform: scale(1.08);
      color: $Light;
    }
    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        text-transform: uppercase;
      }
      h5 {
        padding: 5px;
        background-color: $Dark;
        color: $Gray;
        border-radius: 3px;
      }
    }
    .card-body {
      p {
        text-transform: uppercase;
      }
    }
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 15px;
  &__title {
    text-transform: uppercase;
    color: $Dark;
  }
  &__input {
    padding: 7px;
    border: 2px solid $Dark;
    border-radius: 5px;
    width: 100%;
  }
}

.graphContainer {
  max-width: 1200px;
  margin: 20px auto;
}

@include mobile() {
  .cardContainer {
    display: flex;
    flex-direction: column;
    &__cardInfo {
      width: 100%;
      h2 {
        color: $Dark;
      }
    }
    &__cardJoin {
      width: 100%;
    }
  }
  .tradingContainer {
    .search {
      display: flex;
      flex-direction: column;
      &__input {
        width: 100%;
      }
    }
  }
  .card-header {
    display: flex;
    flex-direction: column;
  }
}

@include tablet() {
  .cardContainer {
    display: flex;
    flex-direction: column;
    &__cardInfo {
      width: 100%;
      padding: 10px;
    }
    &__cardJoin {
      width: 100%;
      padding: 10px;
    }
  }
}
