@use '../scss/partial/variable' as *;
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: $Light;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'League Gothic', sans-serif;
}
